{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "html",
          "xml",
          "css",
          "java",
          "kotlin",
          "javascript",
          "typescript",
          "bash",
          "go",
          "sql",
          "docker",
          "git",
          "graphql",
          "groovy",
          "haskell",
          "json",
          "markdown",
          "python",
          "ruby",
          "vim",
          "yaml",
          "jsx",
          "tsx"
        ],
        "plugins": [],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
